* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body {
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
}
button {
    background-color: yellow;
    margin-left: 5px;
}
.pointer {
    width: 30px;
    height: 30px;
    margin : auto;
    margin-top : 20px;
    margin-bottom: 20px;
    color : white;
    text-align: center;
    line-height: 30px;
}